<div class="container">
    <% if @cart.nil? %>
        <br>
        <h3>Shopping cart is empty</h3>
    <% else %>
    <br>
        <% @products.each do |products| %>
            <div class="row">
                <div class="col">
                    <%= image_tag  products['game']['image'], alt: products['game']['name'] %>
                </div>
                <div class="col">
                    <h3><%= link_to products['game']['name'], home_show_path(:id => products['game']['id']) %></h3>
                    <h6>$<%= products['total'] %></h6>

                    <%= form_tag updatecart_path, :class => "form-inline" do %>
                        <%= text_field_tag :keywords, products['qty'], class: "form-control" %>
                        <%= hidden_field_tag 'id', products['game']['id'] %>
                        <%= submit_tag 'Update', class: "btn btn-primary mb-2" %>
                    <% end %>

                    <%= button_to "Remove from cart", remove_from_cart_path(id: products['game']['id']) %>
                </div>
            </div>
            <br>
        <% end %>

        <%= form_tag checkout_path, :class => "form" do %>
            <%= select_tag :selector, options_for_select(
                [
                    ['Alberta', 'Alberta'], 
                    ['British Columbia', 'British Columbia'],
                    ['Manitoba', 'Manitoba'],
                    ['New Brunswick', 'New Brunswick'],
                    ['Newfoundland and Labrador', 'Newfoundland and Labrador'],
                    ['Northwest Territories', 'Northwest Territories'],
                    ['Nova Scotia', 'Nova Scotia'],
                    ['Nunavut', 'Nunavut'],
                    ['Ontario', 'Ontario'],
                    ['Prince Edward Island', 'Prince Edward Island'],
                    ['Quebec', 'Quebec'],
                    ['Saskatchewan', 'Saskatchewan'],
                    ['Yukon', 'Yukon'],
                ]
            ) %>
            <%= text_field_tag :name %>
            <%= submit_tag 'Checkout', class: "btn btn-primary mb-2" %>
        <% end %>

    <% end %>
</div>