<br>
<div class="container">
<h2><%= @cat.name %></h2>
<br>
<% @games.each do |game| %>
        
            <div class="row">
                <div class="col">
                    <%= image_tag  game.image, alt: game.name %>
                </div>
                <div class="col">
                    <h3><%= link_to game.name, home_show_path(:id => game.id) %></h3>
                    <h6><%= game.price %></h6>
                    <%= button_to "Add to Cart", add_path(id: game.id) %>
                </div>
            </div>
        <br>
    <% end %>
</div>