<div class="container">
    <h1>Welcome!</h1>
    <%= form_tag searchResults_path do %>
        <%= text_field_tag :keywords %>
        <%= select_tag :selector, options_for_select(
            [
                ['Name', 1], 
                ['Category', 2]
            ]
        ) %>
        
        <%= submit_tag 'Search' %>
    <% end %>
    <br>
        <% @games.each do |game| %>
            
                <div class="row">
                    <div class="col">
                        <%= image_tag  game.image %>
                    </div>
                    <div class="col">
                        <h3><%= link_to game.name, home_show_path(:id => game.id) %></h3>
                        <h6><%= game.price %></h6>
                    </div>
                </div>
            <br>
        <% end %>
    

</div>