<!DOCTYPE html>
<html>
  <head>
    <title>Games Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <%= link_to 'Home', home_index_path, class: "navbar-brand"%>
      <div class='collapse navbar-collapse order-1'>
        <ul class='navbar-nav'>
          <li><%= link_to "Categories", categories_path, class: "nav-link" %></li>
        </ul>
      </div>
      <div class="mx-auto order-3">
        <ul class='navbar-nav'>
          <li><%= link_to "Shopping cart", shopping_index_path, class: "nav-link" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Profile", edit_user_registration_path, class: "nav-link" %></li>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
          <% else %>
            <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %>
            <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
